* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f9ff;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: transparent;
}

.logo img {
  height: 50px;
}

.cart {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.cart i {
  font-size: 20px;
}
.nav-links {
  display: flex;
  gap: 30px;
  margin-left: 785px;
}
.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #e55300;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-text h1 .highlight {
  color: #e55300;
}

.hero-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 20px;
  }
  .nav-links{
    display: none;

  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-image {
    order: -1;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .cart span {
    font-size: 16px;
  }
}
